<!-- SPDX-FileCopyrightText: Copyright 2021 Valeria Daneva <valeria.daneva@arm.com> -->

<nav id="header">
  <span id="left-side">
    <a href="/">Home</a>
    <a href="/main/">ACLE</a>
    <a href="/mve_intrinsics/">MVE</a>
    <a href="/morello/">Morello</a>
    <a href="/neon_intrinsics/">Neon</a>
  </span>
  <img id="logo" src="/assets/images/Arm_logo_white_RGB.svg" alt="Logo">
  <span id="right-side">
    {% if page.version %} Version: {{ page.version }} &nbsp;:::&nbsp; {% endif %}
    {% if page.date-of-issue %} Date: {{ page.date-of-issue }} &nbsp;:::&nbsp; {% endif %}
  </span>
</nav>
