<!-- SPDX-License-Identifier: Apache-2.0 -->
<!-- SPDX-FileCopyrightText: Copyright 2021 Arm Limited and/or its affiliates <open-source-office@arm.com> -->

<nav id="header">
  <span id="left-side">
    <a href="/">Home</a>
    <a href="/main/index.html">ACLE</a>
    <a href="/mve_intrinsics/index.html">MVE</a>
    <a href="/morello/index.html">Morello</a>
    <a href="/neon_intrinsics/index.html">Neon</a>
  </span>
  <img id="logo" src="{{site.baseurl}}/assets/images/Arm_logo_white_RGB.svg" alt="Logo">
  <span id="right-side">
    {% if page.version %} Version: {{ page.version }} &nbsp;:::&nbsp; {% endif %}
    {% if page.date-of-issue %} Date: {{ page.date-of-issue }} &nbsp;:::&nbsp; {% endif %}
  </span>
</nav>
