/*
SPDX-FileCopyrightText: Copyright 2021 Arm Limited and/or its affiliates <open-source-office@arm.com>
SPDX-License-Identifier: Apache-2.0
The colors used for formatting have been added in accordance with corporate guidelines:
https://www.arm.com/company/policies/trademarks/guidelines-corporate-logo
*/

body {
  margin: 100px 60px;
  counter-reset: h1counter;
  color: #333E48;
  font: 16px sans-serif;
}

a, a:hover, a:active, a:visited {
  color: #0091BD;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #0091BD;
  color: white;
}

td, th {
  border: 2px solid #0091BD;
  text-align: left;
  padding: 10px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

//This is necessary to add since otherwise the toc links to each section and back will
//get hidden behind the navbar.
:target {
  padding-top: 80px;
  margin-top: -60px;
}

#header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  background-color: #0091BD;
  color: white;
  font-size: 18px;
}

//left and right side of the navbar - this is how the button, logo and page links
//are separated into halves
#left-side {
  float: left;
  padding: 0px;
}

#right-side {
  float: right;
  display: flex;
  padding: 10px;
}

.navbar_tab, .navbar_tab:visited {
  color: white;
}

.navbar_tab, .navbar_active_tab {
  display: table-cell;
  padding: 20px;
}

.show-menu {
    color: white;
    background: #0091BD;
    text-align: left;
    padding: 20px;
    display: none;
    max-width: 50px;
    border-right: 2px solid white;
}

.navbar_tab:active, .navbar_tab:hover, .navbar_active_tab, .show-menu:hover {
  background-color: white;
  color: #0091BD;
}

.navbar_button {
  display: inline-flex;
  border: 1px white solid;
  border-radius: 6px;
  color: white;
  background-color: #0091BD;
  font-size: 16px;
  padding: 10px;
  margin: 0px 3px;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.navbar_button:hover, .navbar_button:active {
  border: 1px #0091BD solid;
  border-radius: 6px;
  color: #0091BD;
  background-color: white;
  cursor: pointer;
}

.navbar_doc_info {
  display: inline-flex;
  margin: 10px 0px;
}

input[type=checkbox]{
    display: none;
}

input[type=checkbox]:checked ~ #left-side{
    display: block;
}

/*
This logo image has been added in accordance with corporate guidelines:
https://www.arm.com/company/policies/trademarks/guidelines-corporate-logo
*/

#logo {
  height: 20px;
  position: relative;
  margin: 10px 15px;
}

#index_logo {
  height: 160px;
}

/*
These media queries are used to adjust the navigation bar when the screen or 
window is of a lower width than expected. More info here:
https://medialoot.com/blog/how-to-create-a-responsive-navigation-menu-using-only-css/
In order to change the width at which the navbar shifts its look, due to eg new document
info on the right side, change max-width.
*/

@media screen and (max-width : 1720px){
    #left-side {
      position: static;
      display: none;
      float: none;
    }
    
    .navbar_tab, .navbar_active_tab {
      display: block;
      width: 100%;
    }
    
    .show-menu{
      display: block;
    }
}

@media screen and (max-width : 1380px){
    #right-side {
      position: static;
      float: none;
      display: block;
    }
    
    .navbar_button, .navbar_doc_info {
      display: block;
      margin: 20px 10px;
    }
    
    .show-menu {
      border-right: none;     
      border-top: 2px solid white;
      max-width: none;
    }
    
    :target {
      padding-top: 380px;
      margin-top: -360px;
    }
}
