<!-- SPDX-License-Identifier: Apache-2.0 -->
<!-- SPDX-FileCopyrightText: Copyright 2021 Arm Limited and/or its affiliates <open-source-office@arm.com> -->

<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/default_style.css">
    {% if page.header_counter %} <link rel="stylesheet" href="{{site.baseurl}}/assets/css/header_counter.css"> {% endif %}
  </head>
  <body>
      {% if page.title %} <h1 id="title"> {{ page.title }} </h1> {% endif %}
      {% include navbar.html %}
      {% if page.toc %} <h1 id="toc-title"> Table of Contents </h1> {% endif %}
    <div id="#content">
      {% include anchor_headings.html html=content anchorBody="^" %}
    </div>
  </body>
</html>
